<footer>
  <div class="dark_background p-5">
    <div class="container footer_container">
      <div class="left_footer_container">
        BookVerse
        <br /><br />
        <h2 class="mb-5">Books awaken the mind and stir the soul.</h2>
        <small class="copyright">
          Copyright &copy; 2025 BookVerse.
          <span style="padding-left: 2px">All rights reserved.</span>
        </small>
      </div>

      <div class="right_footer_container">
        <div>
          <p class="mb-4">Quick Links</p>
          <ul class="flex">
            <li><a href="/support">Support</a></li>
            <li><a href="/top-picks">Top Picks</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/b2b">Business to business</a></li>
            <li><a href="/contact">Request a book</a></li>
            <li><a href="/#newsletter-form">Subscribe to our newsletter</a></li>
          </ul>
        </div>

        <div>
          <p class="mb-4">Follow us!</p>
          <ul class="flex">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Pinterest</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
