<header>
  <!-- announcement bar -->
  <div class="announcement_container dark_background text-uppercase">
    <div class="container">
      <div class="text-center">Free delivery on orders over $35 in Lebanon</div>
    </div>
  </div>

  <div class="container">
    <div class="container-fluid">
      <!-- navbar visible on smaller screens -->
      <nav class="navbar d-lg-none" role="navigation">
        <div class="container-fluid">
          <a class="navbar-brand mx-auto logo" href="/"
            ><img src="/assets/logo/logo.png" alt="BookVerse"
          /></a>
          <i
            class="bi bi-list"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation"
          ></i>

          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasDarkNavbar"
          >
            <div class="offcanvas-header">
              <i
                class="bi-x-lg"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></i>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-column gap-4">
                <li><a class="nav-item" href="/">Homepage</a></li>
                <li><a class="nav-item nav-link" href="/shop">Shop</a></li>
                <li>
                  <a class="nav-item nav-link" href="/top-picks">Top Picks</a>
                </li>
                <li><a class="nav-item nav-link" href="/b2b">B2B</a></li>
                <li>
                  <a class="nav-item nav-link" href="/about">Our Story</a>
                </li>
                <li>
                  <a class="nav-item nav-link" href="/support">Support</a>
                </li>
                <li>
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                </li>
                <li><a class="nav-item nav-link" href="/cart">Cart</a></li>
                <li class="nav-item">
                  <a class="button-1 w-100 text-center" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- navbar visible on medium and larger screens -->
      <nav class="navbar navbar-expand-lg d-none d-lg-flex" role="navigation">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- left navbar -->
            <ul class="navbar-nav">
              <li><a class="nav-link" href="/">HomePage</a></li>
              <li><a class="nav-link" href="/shop">Shop</a></li>
              <li><a class="nav-link" href="/top-picks">Top Picks</a></li>
              <li><a class="nav-link" href="/b2b">B2B</a></li>
            </ul>

            <!-- logo in center -->
            <a class="navbar-brand mx-auto px-5 logo" href="/"
              ><img src="/assets/logo/logo.png" alt="BookVerse"
            /></a>

            <!-- right navbar -->
            <ul class="navbar-nav">
              <li><a class="nav-link" href="/about">Our Story</a></li>
              <li><a class="nav-link" href="/support">Support</a></li>
              <li><a class="nav-link" href="/contact">Contact Us</a></li>
              <li>
                <a class="nav-link" href="/cart"
                  ><img
                    src="/assets/svg/cart.svg"
                    class="w-100 mb-1 mr-1"
                    alt="cart"
                /></a>
              </li>
              <li><a class="button-1" href="/login">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
