.work-sans-light {
  font-family: "Work Sans", sans-serif;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 0.875rem + 3.125vw, 2.25rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.25rem, 0.875rem + 1.875vw, 1.5rem);
  font-weight: 500;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1rem);
  font-weight: 250;
}

.color-1 {
  background-color: rgb(20, 20, 20);
}

.color-2 {
  background-color: rgb(250, 249, 246);
}

.color-3 {
  background-color: rgb(142, 176, 181);
}

.color-4 {
  background-color: rgb(156, 163, 153);
}

.color-5 {
  background-color: rgb(132, 47, 45);
}

.color-6 {
  background-color: rgb(216, 216, 217);
}

.color-7 {
  background-color: rgb(196, 153, 155);
}

.color-8 {
  background-color: rgb(40, 55, 73);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-1 {
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: solid 1px transparent;
  background-color: rgb(20, 20, 20);
  color: rgb(250, 249, 246);
}

.btn-1:hover {
  background-color: rgb(250, 249, 246);
  color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
  cursor: pointer;
}

.btn-2 {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 1px rgb(20, 20, 20);
  background-color: inherit;
  color: rgb(20, 20, 20);
}

.btn-2:hover {
  color: rgb(94 98 100);
  background-color: rgb(250, 249, 246);
  border-color: rgb(94 98 100);
  cursor: pointer;
}

.link-sample {
  color: black;
  text-decoration: none;
  position: relative; /* positioning for the pseudo-element */
  transition: color 0.1s ease;
}

.link-sample::after {
  content: ""; /* creates a pseudo-element */
  height: 1px; /* height of the underline */
  background: rgb(142, 176, 181); /* color of the underline */
  position: absolute;
  left: 0; /* start from the left */
  bottom: -2px; /* position below the text */
  width: 0; /* start with zero width */
  transition: width 0.1s ease;
}

.link-sample:hover {
  color: rgb(142, 176, 181);
}

.link-sample:hover::after {
  width: 100%; /* expand to full width */
}

/* Page Styling */
body {
  background-color: rgb(248, 248, 248);
  padding: 20px;
}

header h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.section-title {
  font-size: 32px;
  color: rgb(90, 45, 130);
  margin-top: 60px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(90, 45, 130);
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

li {
  padding: 10px 45px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.color-1,
.color-8 {
  color: rgb(248, 248, 248);
}

.color-2 {
  border: solid 1px rgb(200, 200, 200);
}

ul li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.secondary-colors {
  margin-top: 30px;
}

a {
  text-decoration: none;
}
