:root {
  --white: rgb(250, 249, 246);
  --black: rgb(20, 20, 20);
  --gray: rgb(216, 216, 217);
  --darkGray: rgb(100, 100, 100);
  --brick: rgb(132, 47, 45);
  --lightGreen: rgb(143, 164, 135);
  --lightBlue: rgb(142, 176, 181);
  --darkBlue: rgb(40, 55, 73);
  --lightPink: rgb(196, 153, 155);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 0.875rem + 3.125vw, 2.25rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.25rem, 0.875rem + 1.875vw, 1.5rem);
  font-weight: 500;
}

p {
  font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1rem);
  font-weight: 300;
}

.btn-1 {
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: solid 1px transparent;
  letter-spacing: 1px;
  background-color: var(--black);
  color: var(--white);
}

.btn-1:hover {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
  cursor: pointer;
}

.btn-2 {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 1px rgb(20, 20, 20);
  background-color: inherit;
  color: rgb(20, 20, 20);
}

.btn-2:hover {
  color: rgb(94 98 100);
  background-color: rgb(250, 249, 246);
  border-color: rgb(94 98 100);
  cursor: pointer;
}
